nav {
	padding: 12px 12px !important;
}
.line-header {
	height: 3px;
	width: 100%;
	background: #5EB1D1;
}
.navbar-nav {
    flex-direction: row;
}
.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

@media only screen and (max-width:991px) { 
	.navbar-nav {
	    flex-direction: column;
	}
	.navbar-item {
		text-align: center;
	}
}
.numbers {
	background: url(../img/pattern.jpg) no-repeat center center;
}
.numbers .values {
	background: transparent;
	color: #75CAEB;
	text-align: center;
}
.numbers .values h2 {
	color: #FFF;
	font-weight: 600;
}
footer .socials .social-icon {
	border-radius: 5px;
	padding: 10px;
	font-size: 20px;
	background: #1d1d1d;
	color: #fff;
}
.catalogs .card-title {
	font-weight: 200;
	font-size: 18px;
}
.catalogs .card-text {
	font-weight: bold;
	font-size: 25px;
}
.card-body ul {
	padding-left: 18px;
}

.receipts {
	width: 80%;
	margin: 50px auto;
	background: #eee;
	min-width: 300px;
	padding: 20px;
}
.receipts small {
	padding-top: 20px;
	font-size: 17px;
	font-family: monospace;
	display: block;
	text-align: center;
	padding-right: 10px;
}
.receipts hr {
  border:none;
  border-top: 2px dotted #1d1d1d;
  color:#eee;
  background-color:#eee;
  height:1px;
  width:100%;
}
.receipts table {
  width: 100%;
  padding-bottom: 20px;
}
.receipts table tbody tr td:first-child {
  width: 80%;
  font-family: sans-serif;
  font-weight: bold;
}
.receipts table tbody tr td:last-child {
  width: 20%;
  font-family: sans-serif;
  text-align: right;
}
.receipts span {
	font-weight: bold;
	font-size: 20px;
}
.to-do span {
	padding: 10px;
	background: #75CAEB;
	text-align: center;
	border-radius: 100%;
	display: inline-block;
	width: 40px;
	height: 40px;
	color: #fff;
	line-height: 1.1;
	margin-right: 20px;
}
.to-do small {
	display: block;
	padding-left: 60px;
}

.border-completed {
	border-color: #28B62C !important;
}
.border-requested {
	border-color: #FF851B !important;
}
.border-accepted {
	border-color: #222222 !important;
}